body {
    overflow-x: hidden;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color: #121212;
    color: white;
}

a{
    font-weight: bold !important;
}

.Topbar-custom{
    background-color: #343a40;
    height: 75px;
    z-index: 100;
}

.customButtonPos{
    position: fixed !important;
    margin-left: 5px;
}

.custom-title-text{
    position: absolute;
    margin-left: 25px;
    left: 80px;

    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-Add-link{
    position: absolute;
    left: 350px;
    bottom: 25px;

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Main Content Area */
.main-content {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 30px;
    transition: margin-left 0.3s ease; /* Smooth transition for content */
}

.main-content.shift {
    margin-left: 235px; /* Space for sidebar when it's shown */
    margin-right: 25px;
}

#menuToggle {
    position: fixed; /* Fix position */
    top: 15px; /* Distance from the top */
    left: 15px; /* Distance from the left */
    z-index: 200; /* Ensure the button is above the sidebar */
}

/* Side Bar CSS */
.sidebar {
    height: 100%; /* Full height */
    width: 250px;
    position: fixed; /* Fixed position */
    top: 0; /* Top of the page */
    left: -250px; /* Left of the page */
    background-color: #343a40; /* Dark background color */
    width: 200px; /* Width of the sidebar */
    
    overflow-y: auto; /* Enable scrolling if the content exceeds the height */

    transition: left 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.SideBarObjects{
    margin-top: 80px;
}

.sidebar.show {
    left: 0; /* Slide in */
}

/* Custom CSS for link effects */
.NavigationLinks, a {
    font-size: 18.5;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    
    transition: font-size 0.15s ease-in-out;

    text-decoration: none;
}

.NavigationLinks a {
    padding: 5px 10px;
    border-radius: 4px; 

    color: white; 
    text-decoration: none; 
}

.NavigationLinks a:hover {
    background-color: #495057;

    font-size: 1.25em;

    transition: font-size 0.15s ease-in-out;
}

/* Custom Glow Current Page */
.custom-glow-Current-Page{
    text-shadow: 0 0 10px rgb(255,255,255,0.8);
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2d2d2d; /* Dark background for table */
    color: #ffffff !important; /* Light text color */
    font-size: 1rem;

    text-align: center;
}

/* Table header styling */
thead th {
    background-color: #343a40; 
    color: #ffffffd3 !important;
    font-weight: bold;
    padding: 15px 4px !important;
    border-bottom: 2px solid #6c757d;

    text-align: center;
    align-items: center;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
/* this will remove the spinners/arrow thing beside the number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Table body styling */
tbody td {
    color: #ffffffd3 !important;
    padding: 5px 15px !important;
    border-bottom: 1px solid #6c757d;
}

tbody tr:nth-child(even) {
    background-color: #3b3b3b;
}

input[type="submit"]{
    border: none;
    background-color: #ffffffc4;
    color: #000000e7;
    border-radius: 8px;

    font-size: 13px !important;   

    transition: background-color 0.1s ease, color 0.3s ease, font-size 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #3c4043be;
    color: #ffffffd3;
    cursor: pointer;

    font-size: 14px !important;

    transition: background-color 0.1s ease, color 0.3s ease, font-size 0.3s ease;
}

#EditButtonInput{
    width: 58px;
    height: 22px;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

#MakeOrderButtonInput{
    width: 80px;
    height: 22px;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

.Content_title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 85px;
}

.ScrollingTable{
    margin-top: 50px;
}

.highlight {
    background-color: #0091ff2f;
}