body {
    background-color: #22282e;
    
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    color: rgb(0, 0, 0);
}

a{
    color:white !important;
}

a:hover{
    color: rgb(58, 58, 58) !important;
}

a:active{
    color: rgb(255, 2, 2) !important;
}

input[type="submit"]{
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color: #3c4043;
    color: white;
    cursor: pointer;
}