table, td, th {
    border-collapse: collapse;
    width: 25%;
    height: 50%;
    background-color: white;

    align-items: center;

    border: 0px solid #000;
}

.DescriptionSize {
    width: 70%
}