body{
    margin: 300px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

a {
    text-decoration: none;
}

#Header{
    background-color: rgb(24, 24, 24) !important;
    position: absolute;
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: left;

    top: 10px;
}


#TitleText{
    position: absolute;

    color: #86c232;

    top: 175px;
}


#CenterTable{
    position: relative;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CenterTable form table{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    background-color: #a0a0a0 !important;
    box-shadow: 0 0 50px 15px rgba(49,61,67,1);

    position: relative;

    height: 270px;
    width: 475px;

    border-radius: 25px;
    padding: 10px;
}

#SubmitButton {
    text-align: center !important;
    position: relative !important;

    top: 10px !important;
    width: 100% !important;
}

.headerText {
    padding-left: 15px;

    font-size: 15px;
}