table, td, th {
    border-collapse: collapse;
    background-color: white;

    text-align: center;

    border: 0px solid #000;
}

.DescriptionSize {
    width: 50%;
}

.PriceColumn {
    width: 50%
}

.NameColumn {
    width: 50%
}