body{
    margin: 175px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, td, th {
    border-collapse: collapse;
    background-color: #919191;

    text-align: center;

    border: 1px solid #000;
}

td{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    color: white;
}

a {
    text-decoration: none;
}

#DescriptionColumn {
    width: 450px;
}

#NameColumn {
    width: 350px;
}

#PriceColumn {
    width: 100px;
}

#QuantityColumn{
    width: 100px;
}

#Header{
    background-color: #222626 !important;
    position: absolute;
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: left;

    top: 25px;
}

.headerText {
    padding-left: 15px;

    font-size: 15px;
}

.TitleText{
    position: absolute;

    color: #86c232;

    top: 100px;
}