table, td, th {
    border-collapse: collapse;
    background-color: white;

    text-align: center;

    border: 1px solid #000;

    width: 50%;

    padding-left: 25px;
}

.DescriptionSize {
    padding-left: 10px;
}